* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Bellota Text", "Gadugi", Arial, sans-serif;
}

/* Color scheme sourced from https://www.color-hex.com/color-palette/74932 Underwater Scene palette */
:root {
    --colora: #daf8e3;
    --colorb: #97ebdb;
    --colorc: #00c2c7;
    --colord: #0086ad;
    --colore: #005582;
}

body {
    background-color: var(--colorb);
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 4%;
}

.header {
    padding: 45px;
    background-color: var(--colord);
    color: var(--colora);
}

.header h1 {
    display: inline-block;
    font-family: "Ink Free", sans-serif;
    font-size: 65px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

ul a:hover { background-color: var(--colorb); }

.hero {
    height: 850px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://image.freepik.com/free-vector/female-office-worker-with-laptop-headphones_61747-107.jpg");
    background-size: cover;
    background-position: center;
}

h2,
h3,
h4 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

/* Do I need to define these classes to make the nav work???

.about-me,
.my-work,
.contact-me {
  
}

*/

h2 {
  font-size: 30px;
  color: var(--colore);
}

h3 {
  font-size: 20px;
  color: var(--colore);
}

h4 {
  font-size: 13px;
  color: var(--colora);
}

p {
  padding-bottom: 2px
  text-align: center;
}

.me {
  list-style: none;
}

.me li::before {
  content: "\2022";
  color: var(--colord);
  display: inline-block; 
  width: 1em;
  margin-left: 10px;
}

.card {
  flex: 1 1 400px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: var(--colore);
  border-radius: 4%;
  float: left;
  width: 25%; 
}

.card header {
  flex: 1 1 400px;
  padding: 20px;  
  background-color: var(--colorc);
  color: var(--colore);
  font-weight: bold;
}

.card img {
  flex: 1 1 400px;
  padding: 10px;
}

.card p {
  flex: 1 1 400px;
  padding: 10px;
  height: 85px;
}

footer {
    display: flex;
    justify-content: left;
    padding: 1%;
    background-color: var(--colord);
  }


  /* This is not working . . . */
/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card .card header .card img {
    width: 50%;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card .card header .card img {
    width: 100%;
    flex-direction: column;
  }
}
